/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    margin: 0; 
}

/* Body */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
    margin: 0;
}

/* HEADER */

header {
    margin: 0;
}

/* intro */

.intro {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

.intro-title h1 {
    font-size: 5rem;
    font-weight: 200;
}

.intro-subtitle h2 {
    font-size: 2rem;
    font-weight: 600;
}

.intro-magic-span {
    display: inline-block;
    animation: magic 2s ease 1s infinite normal forwards;
}

.intro-magic p {
    font-size: 3rem;
}


/* intro - Keyframes */

@keyframes magic {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Media Queries */


